app/flows/PlantBot.json
[
    {
        "id": "7c45095b.4dbc78",
        "type": "tab",
        "label": "Water Sensors",
        "disabled": false,
        "info": "The atlas scientific PH stamps. "
    },
    {
        "id": "f9f67010.41712",
        "type": "tab",
        "label": "Actions",
        "disabled": false,
        "info": "These are the binary on offs of the system. \n\n1. Water pump\n2. Light"
    },
    {
        "id": "8e77de23.fbe79",
        "type": "tab",
        "label": "Data",
        "disabled": false,
        "info": "The data flow and data model"
    },
    {
        "id": "a7360e23.94389",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\r",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "99ca694c.282dd8",
        "type": "ui_tab",
        "z": "",
        "name": "Controls",
        "icon": "dashboard"
    },
    {
        "id": "4bc2f900.295788",
        "type": "ui_group",
        "z": "",
        "name": "Lights",
        "tab": "99ca694c.282dd8",
        "disp": true,
        "width": "6"
    },
    {
        "id": "d08a2407.5f8848",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Courier,monospace",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Courier,monospace"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "661cc9a3.56b6f8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\r",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "4244899a.60cb08",
        "type": "ui_tab",
        "z": "",
        "name": "Sensor Graphs",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "fa0530b.ba496d",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "4244899a.60cb08",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "ec7edf5.8ba852",
        "type": "serial out",
        "z": "7c45095b.4dbc78",
        "name": "",
        "serial": "a7360e23.94389",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "10eaf4f4.6e43fb",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Read",
        "topic": "",
        "payload": "r,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 122,
        "y": 143,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "227b1fc4.cbcbe",
        "type": "debug",
        "z": "7c45095b.4dbc78",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "92000705.cd6188",
        "type": "serial in",
        "z": "7c45095b.4dbc78",
        "name": "",
        "serial": "a7360e23.94389",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "227b1fc4.cbcbe"
            ]
        ]
    },
    {
        "id": "2556a55e.d1745a",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Information",
        "topic": "",
        "payload": "i,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 138,
        "y": 239,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "a2f8545a.cbadb8",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "",
        "topic": "",
        "payload": "?,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 118,
        "y": 279,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "ec105d26.3186d",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Temperature Compensation",
        "topic": "",
        "payload": "T,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 184,
        "y": 374,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "e70d94b7.a12c68",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Status",
        "topic": "",
        "payload": "Status,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 114,
        "y": 418,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "c7031e10.93ee7",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Enable/Disable LED",
        "topic": "",
        "payload": "L,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 154,
        "y": 461,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "ee27220b.9cff5",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Calibration",
        "topic": "",
        "payload": "Cal,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 126,
        "y": 328,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "3b3af939.458806",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Disable Continuous Read",
        "topic": "Calibration",
        "payload": "C,0<cr>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 176,
        "y": 194,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "e4996c10.c40c9",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Slope",
        "topic": "",
        "payload": "Slope,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 111,
        "y": 504,
        "wires": [
            []
        ]
    },
    {
        "id": "6273258d.714edc",
        "type": "comment",
        "z": "7c45095b.4dbc78",
        "name": "EZO Stamp Commands",
        "info": "All commands are ascii strings or ascii characters",
        "x": 140.5,
        "y": 40,
        "wires": []
    },
    {
        "id": "a6ce862a.212858",
        "type": "inject",
        "z": "f9f67010.41712",
        "name": "On",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 135,
        "y": 467,
        "wires": [
            [
                "3563c2fc.f92bde"
            ]
        ]
    },
    {
        "id": "596731dd.2e1e4",
        "type": "inject",
        "z": "f9f67010.41712",
        "name": "Off",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 136,
        "y": 539,
        "wires": [
            [
                "3563c2fc.f92bde"
            ]
        ]
    },
    {
        "id": "3563c2fc.f92bde",
        "type": "grovepi-relay",
        "z": "f9f67010.41712",
        "name": "Pump",
        "pin": "2",
        "x": 296,
        "y": 499,
        "wires": []
    },
    {
        "id": "80b4db27.ad18a8",
        "type": "inject",
        "z": "f9f67010.41712",
        "name": "On",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 106,
        "y": 103,
        "wires": [
            [
                "afa88eea.a21d1"
            ]
        ]
    },
    {
        "id": "a42dab4d.1ac8a8",
        "type": "inject",
        "z": "f9f67010.41712",
        "name": "Off",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 106,
        "y": 161,
        "wires": [
            [
                "ca87fe8a.e64bb"
            ]
        ]
    },
    {
        "id": "55686922.8e1e18",
        "type": "grovepi-relay",
        "z": "f9f67010.41712",
        "name": "Light",
        "pin": "3",
        "x": 653,
        "y": 105,
        "wires": []
    },
    {
        "id": "f758e48b.6c1328",
        "type": "comment",
        "z": "f9f67010.41712",
        "name": "Relay Controls",
        "info": "",
        "x": 116.5,
        "y": 37,
        "wires": []
    },
    {
        "id": "d8988113.653c3",
        "type": "ui_chart",
        "z": "8e77de23.fbe79",
        "name": "Ph",
        "group": "fa0530b.ba496d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Ph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 350,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "afa88eea.a21d1",
        "type": "ui_button",
        "z": "f9f67010.41712",
        "name": "",
        "group": "4bc2f900.295788",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 250.5,
        "y": 103,
        "wires": [
            [
                "5dd28ba8.3e3f84"
            ]
        ]
    },
    {
        "id": "ca87fe8a.e64bb",
        "type": "ui_button",
        "z": "f9f67010.41712",
        "name": "",
        "group": "4bc2f900.295788",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Light Off",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 251,
        "y": 160,
        "wires": [
            [
                "5dd28ba8.3e3f84"
            ]
        ]
    },
    {
        "id": "56c62e58.7ef53",
        "type": "serial in",
        "z": "7c45095b.4dbc78",
        "name": "",
        "serial": "661cc9a3.56b6f8",
        "x": 530,
        "y": 700,
        "wires": [
            [
                "c5e302a6.3c49b"
            ]
        ]
    },
    {
        "id": "e6ffa088.c7ac2",
        "type": "serial out",
        "z": "7c45095b.4dbc78",
        "name": "",
        "serial": "661cc9a3.56b6f8",
        "x": 529,
        "y": 631,
        "wires": []
    },
    {
        "id": "c5e302a6.3c49b",
        "type": "debug",
        "z": "7c45095b.4dbc78",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "75c039d4.f6ac78",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Read",
        "topic": "",
        "payload": "r,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "e6ffa088.c7ac2"
            ]
        ]
    },
    {
        "id": "42d67188.62481",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Disable Continuous Read",
        "topic": "Calibration",
        "payload": "C,0<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "e6ffa088.c7ac2"
            ]
        ]
    },
    {
        "id": "7cc43ef6.33721",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "",
        "topic": "",
        "payload": "S,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "da3599f7.58a518",
        "type": "ui_chart",
        "z": "8e77de23.fbe79",
        "name": "Temperature",
        "group": "fa0530b.ba496d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 361,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e31852d6.e9e2",
        "type": "serial in",
        "z": "8e77de23.fbe79",
        "name": "",
        "serial": "661cc9a3.56b6f8",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "d8988113.653c3"
            ]
        ]
    },
    {
        "id": "e44cc51c.8077e8",
        "type": "serial in",
        "z": "8e77de23.fbe79",
        "name": "",
        "serial": "a7360e23.94389",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "da3599f7.58a518"
            ]
        ]
    },
    {
        "id": "752a3349.27f01c",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Enable Continuous Read",
        "topic": "Calibration",
        "payload": "C,30<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "afa22def.1054a",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Enable Continuous Read",
        "topic": "Calibration",
        "payload": "C,30<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 170,
        "y": 720,
        "wires": [
            [
                "e6ffa088.c7ac2"
            ]
        ]
    },
    {
        "id": "92d3dc6f.2edc8",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Disable Continuous Read",
        "topic": "Calibration",
        "payload": "C,?<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 800,
        "wires": [
            [
                "e6ffa088.c7ac2"
            ]
        ]
    },
    {
        "id": "7b262979.f27878",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "",
        "topic": "",
        "payload": "i,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230,
        "y": 760,
        "wires": [
            [
                "e6ffa088.c7ac2"
            ]
        ]
    },
    {
        "id": "5dd28ba8.3e3f84",
        "type": "bigtimer",
        "z": "f9f67010.41712",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "LightCycle",
        "lat": "38.56125",
        "lon": "-121.41526",
        "starttime": "360",
        "endtime": 1425,
        "startoff": 0,
        "endoff": 0,
        "offs": "-8",
        "outtext1": "1",
        "outtext2": "0",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 453.5,
        "y": 113.5,
        "wires": [
            [],
            [
                "55686922.8e1e18"
            ],
            [
                "191b7fac.d5aa2"
            ]
        ]
    },
    {
        "id": "191b7fac.d5aa2",
        "type": "debug",
        "z": "f9f67010.41712",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 674.5,
        "y": 148,
        "wires": []
    }
]
